.eBlue {
  background-color: $eColor_Blue !important;
}
.eBlueish {
  background-color: $eColor_Blueish !important;
}
.eGreen {
  background-color: $eColor_Green !important;
}
.eGreenish {
  background-color: $eColor_Greenish_bg !important;
}
.eYellow {
  background-color: $eColor_Yellow !important;
}
.eYellowish {
  background-color: $eColor_Yellowish_bg !important;
}
.eRed {
  background-color: $eColor_Red !important;
}
